.bgfx {
    background-color: ivory;
}
.application-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
.textfx {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dimgrey;
}